* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #15120e;
}

h1 {
    text-align: center;
    padding: 20px 0px 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
}

.item {
    max-width: 150px;
    min-width: 150px;
    width: 20%;
    height: 100px;
    background-color: olive;
    margin: 5px;
    border-radius: 3px;
}